.title{
    margin-bottom: 5%;
    text-align: center;
}
.formdimension{
    padding: 50px;
    width: 70%;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.form .q-input{
    margin-bottom: 2%;
}